{% extends "base.html" %}

{% block nav %}
  <ul class="nav nav-pills">
    <li class="nav-item fs-6"><a href="#" class="nav-link active">Create database</a></li>
  </ul>
{% endblock %}

{% block header %}
  {% block title %}Deployed databases{% endblock %}
{% endblock %}

{% block content %}
  <table class="table">
    <tbody>
      {% if not sites %}
      <div class="container gy-5">
        <div class="row py-4">
          <div class="alert alert-secondary" role="alert">
            <p>No databases are currently deployed. Create one to get started!</p>
            <a href="#" class="btn btn-primary">Create database</a>
          </div>
        </div>
      </div>
      {%  endif %}
    </tbody>
  </table>
{% endblock %}
